body{
    text-align:center;
    color: white;
    background-color: rgb(20, 20, 20);
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}


.infoTable {
    text-align: left;
    margin: auto;
    margin-bottom: 20px;
}

.infoTable th{
    padding: 5px; 
}

.infoTable td{
    width: 300px;
    padding: 5px;
    padding-left: 10px;
}

.board th, .board td{
    width: 50px;
    height: 50px;
} 





